.cabecera {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.cabecera video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cabecera .container {
  position: relative;
  z-index: 2;
}

.cabecera .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .cabecera {
    background: url('./img/PROMOMAYOJC.mp4') black no-repeat center center scroll;
  }
  .cabecera video {
    display: none;
  }
}

/* elementos link isaac MAM Geral */

.linki{
    padding: 0px;
    margin: 0px;
}

.linki:hover{
    font-size: 14px;
    text-shadow: 0px 1px 3px rgba(25,11,7,0.93);
}

/*tarjetas*/
.targetas1body{
    margin-bottom: 4px !important; 
    text-align: justify !important;
}

/*carusel quienes somos*/
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

.parrafo-negro{
    color: #423f3f !important;
    font-weight: normal !important;
    font-size: 1.4em !important;
}

.texto-negro{
    color: #423f3f !important;
    font-weight: normal !important;
}

.titulo-card{
    margin: 7px 0px 6px 0px;
    font-weight: bold;
    color: #fffefd;
    background: #a0a0a0;
    font-size: 1.2em;
}

.menu-item{
    font-size: 0.7em !important;
    color: #6d6d6d !important;
    font-weight: bold;
}

li{
    color: #888888;
}

.header-contenedor{
    width: 100%;
    height: 800px;
    border-left: none;
    border-right: none;
    padding: 20px;
    position: relative;
    
}

.video-container{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    z-index: -1;
    opacity: 0.78;
    width: 100%;
    height: 100%;
}

.opcionesMenu:hover{
    background: #676363 !important;
    border-bottom: 2px #1da1f2 solid !important;
    color: #fff !important;
}
